<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ticket.title}} <span class="label label-{{labels[ticket.priority]}}">{{ticket.priority}}</span></h3>
      </div>
      <div class="panel-body" ng-bind-html="ticket.description | nl2br"></div>
      <div class="panel-footer clearfix">
        <div class="btn-group pull-right" role="group">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle>
              {{ticket.priority}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="priority in priorities" ng-click="setPriority(priority)"><a href="">{{priority}}</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-danger btn-sm" ng-click="removeTicket(ticket.$id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
